/* General styles for all menus */
.cbp-spmenu {
    background: #bdc3c7;
    position: fixed;
    overflow: hidden;
    border: 2px solid #2c3e50;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cbp-spmenu h3 {
    font-family: "Arial", Times, serif;
    color: #bdc3c7;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #2c3e50;
}

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    border: 2px solid #2c3e50;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
    left: -300px;
}

.cbp-spmenu-right {
    right: -300px;
}

.cbp-spmenu-left.menu-open {
    left: 0px;
}

.cbp-spmenu-right.menu-open {
    right: 0px;
}

/* Push classes applied to the body */
.push-body {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.push-body-toright {
    left: 300px;
}

.push-body-toleft {
    left: -300px;
}

/* Transitions */
.cbp-spmenu,
.push-body {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .push-body-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .push-body-toright {
        left: 190px;
    }
}
